/* Jamar Plummer 2405323 */
:root {
  --primary-color: black;
  --secondary-color: burlywood;
  --background-color: lemonchiffon;
  --header-color: lightblue;
  --footer-color: #ddd;
  --font-family: Arial, Sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: var(--background-color);
}

header {
  background: var(--header-color);
  text-align: center;
  padding: 10px;
}

header img {
  width: 100px;
  border-radius: 50%;
}

nav a {
  margin: 0 10px;
  text-decoration: underline;
  color: var(--primary-color);
  padding: 5px 10px;
}

nav a:hover {
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--primary-color);
}

section {
  padding: 20px;
  text-align: center;
}

ul {
  list-style-position: inside;
  padding: 0;
}

footer {
  background: var(--footer-color);
  text-align: center;
  padding: 10px;
}

.manhua-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.manhua {
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.manhua img {
    width: 100%;
    height: 400px;
    align-self: center;
    margin: auto;
}

.manhua h3 {
    margin: 5px 0;
}